<html>
<head>
  {% if app_page %}
  <title>{{app_page}} - {{appname}}</title>
  {% else %}
  <title>Welcome to {{appname}}</title>
  {% endif %}
</head>
<body>
  <div>Go to: 
    <a href="{{ url_for('index')}}">Home</a>
     | 
     {% if current_user.is_anonymous %}
    <a href="{{ url_for('login')}}">Login</a>
    {% else %}
    Welcome, <a href="{{ url_for('user', username=current_user.username)}}"> {{current_user.username}}</a> | <a href="{{ url_for('logout')}}">Logout</a>)
    {% endif %}
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h1>{{appname}}</h1>
  {% block content %}{% endblock %}
</body>
</html>