{% extends "base.html" %}

{% block content %}
  <table border=1>
    <tr>
      <th>Venue</th>
      <th>Drive</th>
      <th>Time</th>
      <th>Signup</th>
      <th>Notes</th>
    </tr>
    {% for event in events %}
    <tr>
      <td><a href='{{event.venue.website}}'>{{event.venue.name}}</a> <a href="{{ url_for('edit_event', event_id=event.id)}}""><img src="{{url_for('static', filename='pencil.png')}}" alt="Edit this event" style="width:15px;height:15px;"></a></td>
      <td>{{event.drive}}</td>
      <td>{{event.start_time}} - {{event.end_time}}</td>
      <td>{{event.adv_signup}}</td>
      <td>{{event.notes}}</td>
    </tr>
    {% endfor %}
  </table>

  {% if not user.home_address %}
  <p>Want drive times and adding events to your calendar? Then set up your <a href="{{ url_for('user', username=current_user.username)}}">profile!</a></p>
  {% endif %}
{% endblock %}